
<div class="text-center">
<form class="" action="/users/create/topic" method="post">
    <h4>User Name:-<%=name%></h4>

    <span>Topic Name</span>
    <input type="text"  placeholder="<%=topic%>" name="topicName" >
    <br>
    <textarea id="topiccontent" name="topiccontent" rows="10" cols="100"><%=content%></textarea>
  <br>
  <input type="submit" value="Submit">
</form>
</div>
<h5>ANY CALL ACTION:</h5>
<div class="modal  position-static d-block bg-secondary d-flex justify-content-center">
 
<div class="bg-success"><p>4-Totally Understood</p></div>
<div class="bg-warning"><p>3- Somewhat Understood</p></div>
<div class="bg-primary"><p>2- Not Clear</p></div>
<div class="bg-danger"><p>1 – Totally rubbish</p></div>
</div>

<div>
  <% if(split){%>
    <% for(let i of split){%>
      <form class="" action="/users/value?index=<%=split.indexOf(i)%>&topic=<%=topic%>" method="post" >
        <ul>
          <li>
            <!-- <span><%=split.indexOf(i)%></span> -->
            <span><%=i.sentence%></span>
            <input type="text"  placeholder="<%=i.value%>" name="value" style="width:36px">
            <input type="submit" value="Submit">
          </li>

        </ul>
      </form>
       <%}%>
     <%}%>

</div>




<h5>AFTER CALL ACTION:</h5>
<div class="p-4 m-4 bg-dark text-white">
  <% if(split){%>
    <% for(let i of split){%>

      
      <% if(i.value==4){%>
      <span style="color:green ;"><strong><%=i.sentence%>.</strong></span>
      <%}else if(i.value==3){%>
      <span style="color:yellow ;"><strong><%=i.sentence%>.</strong></span>
      <%}else if(i.value==2){%>
      <span style="color:blue ;"><strong><%=i.sentence%>.</strong></span>
      <%}else if(i.value==1){%>
        <span style="color:red ;"><strong><%=i.sentence%>.</strong></span>
        <%}else{%>
        <span ><strong><%=i.sentence%>.</strong></span>
        <%}%>



      <%}%>
      <%}%>

</div>

